<!DOCTYPE html>
<html>
    <head>
        <title>Nutri-Recipe</title>
        <meta name="viewport" content="width=device-width,initial-scale=1">
          <l<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="/stylesheets/bootstrap.min.css" 
integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <link rel="stylesheet" type="text/CSS" href="/stylesheets/app.css">
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
    <script type="text/javascript" src="bmicalorie.js"></script>
    </head>
    <body>
        
        
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                </button>
            <a class="navbar-brand" href="/">Nutricepe</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                    <% if(currentUser){ %>
                        <li><a href="/userprofile">Username:<%= currentUser.username %></a></li>
                        <li><a href="/logout">Logout</a></li>
                        <% }else { %>
                        <li><a href="/register">Signup</a></li>
                        <li><a href="/login">Login</a></li>
                        <% } %>
                        <li><a href="/predict">Check for new image</a> </li>
                        <li><a href="/bmicalorie">Check bmi and calorie</a> </li>
            </ul>
        </div>
    </div>
</nav>
  