<% include partials/header.ejs %>
<div class="container">
<h3>Recipe for <%= recipemodel[0].name %></h3>
<p><%- recipemodel[0].recipedata %></p>
<br>
<hr>
<form style="margin" action="/addcalorie" method="POST">
    <div class="form-group">
    <input class="form-control" type="number" name="calories" value="<%= recipemodel[0].calories%>"> 
    </div>
    <div class="form-group">
    <button class="btn btn-primary btn-large">Add Calorie?</button> 
    </div>
</form>
<br>
<hr>
</div>
<% include partials/footer.ejs %>
